@import '../../common/css/vars';
@import '../../common/css/mixins';

/* Basic */

body {
	min-width: 320px;
}

body, input, select, textarea {
	font-size: 11pt;
}

/* BG */
@include bg(500px);

/* Header */
#header {
	h1 {
		font-size: 2.5em;
	}
	
	p {
		font-size: 1em;
	}
	
	nav {
		font-size: 1em;

		a {
			&:hover {
				font-size: 1em;
			}
			
			&:active {
				font-size: 1em;
			}
		}
	}
}