@import '../../common/css/vars';
@import '../../common/css/mixins';

/* Wrapper */
#wrapper {
	opacity: 1;
}
	
/* Overlay */
#overlay {
	opacity: 1;
}
	
/* Header */
#header {
	opacity: 1;

	nav {
		li {
			opacity: 1;
		}
	}
}
