@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url(../../common/css/font-awesome.min.css);
/* Basic */
body, input, select, textarea {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em; }

body {
  background: #fff;
  overflow: hidden; }
  body.loading * {
    -webkit-animation: none !important;
    animation: none !important; }

a {
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: inherit;
  outline: 0;
  text-decoration: none; }
  a:hover {
    border-color: transparent; }

/* Wrapper */

@-webkit-keyframes wrapper {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes wrapper {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#wrapper {
  -webkit-animation: wrapper 3s forwards;
  animation: wrapper 3s forwards;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%; }

/* BG */
#bg {
  -webkit-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: #348cb2;
  background-image: url("images/bg.jpg");
  background-position: bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0; }

@-webkit-keyframes bg {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }
  100% {
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0); } }

@keyframes bg {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }
  100% {
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0); } }

#bg {
  background-size: 2250px auto;
  width: 6750px; }

/* Overlay */

@-webkit-keyframes overlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes overlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#overlay {
  -webkit-animation: overlay 1.5s 1.5s forwards;
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed, fixed;
  background-image: url("images/overlay-pattern.png"), url("images/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%; }

/* Main */
#main {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }
  #main:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
    width: 1px; }

/* Header */

@-webkit-keyframes header {
  0% {
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }

@keyframes header {
  0% {
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }

@-webkit-keyframes nav-icons {
  0% {
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }

@keyframes nav-icons {
  0% {
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }

#header {
  -webkit-animation: header 1s 2.25s forwards;
  animation: header 1s 2.25s forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: -1em;
  vertical-align: middle;
  width: 90%; }
  #header h1 {
    font-size: 4.35em;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 1em; }
  #header p {
    font-size: 1.25em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.75; }
  #header nav {
    margin: 1.5em 0 0 0; }
    #header nav li {
      -webkit-animation: nav-icons 0.5s ease-in-out forwards;
      animation: nav-icons 0.5s ease-in-out forwards;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      display: inline-block;
      height: 5.35em;
      line-height: 5.885em;
      opacity: 0;
      position: relative;
      top: 0;
      width: 5.35em; }
      #header nav li:nth-child(1) {
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s; }
      #header nav li:nth-child(2) {
        -webkit-animation-delay: 2.75s;
        animation-delay: 2.75s; }
      #header nav li:nth-child(3) {
        -webkit-animation-delay: 3s;
        animation-delay: 3s; }
      #header nav li:nth-child(4) {
        -webkit-animation-delay: 3.25s;
        animation-delay: 3.25s; }
      #header nav li:nth-child(5) {
        -webkit-animation-delay: 3.5s;
        animation-delay: 3.5s; }
      #header nav li:nth-child(6) {
        -webkit-animation-delay: 3.75s;
        animation-delay: 3.75s; }
      #header nav li:nth-child(7) {
        -webkit-animation-delay: 4s;
        animation-delay: 4s; }
      #header nav li:nth-child(8) {
        -webkit-animation-delay: 4.25s;
        animation-delay: 4.25s; }
      #header nav li:nth-child(9) {
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s; }
      #header nav li:nth-child(10) {
        -webkit-animation-delay: 4.75s;
        animation-delay: 4.75s; }
    #header nav a {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      border: 0;
      display: inline-block; }
      #header nav a:before {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        border: solid 1px #fff;
        display: block;
        font-size: 1.75em;
        height: 2.5em;
        line-height: 2.5em;
        position: relative;
        text-align: center;
        top: 0;
        width: 2.5em; }
      #header nav a:hover {
        font-size: 1.1em; }
        #header nav a:hover:before {
          background-color: rgba(255, 255, 255, 0.175);
          color: #fff; }
      #header nav a:active {
        font-size: 0.95em;
        background: none; }
        #header nav a:active:before {
          background-color: rgba(255, 255, 255, 0.35);
          color: #fff; }
      #header nav a span {
        display: none; }

/* Footer */
#footer {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
  bottom: 0;
  cursor: default;
  height: 6em;
  left: 0;
  line-height: 8em;
  position: absolute;
  text-align: center;
  width: 100%; }
