/* BG */

@-webkit-keyframes bg {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }
  100% {
    -webkit-transform: translate3d(-750px,0,0);
    -ms-transform: translate3d(-750px,0,0);
    transform: translate3d(-750px,0,0); } }

@keyframes bg {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); }
  100% {
    -webkit-transform: translate3d(-750px,0,0);
    -ms-transform: translate3d(-750px,0,0);
    transform: translate3d(-750px,0,0); } }

#bg {
  background-size: 750px auto;
  width: 2250px; }
